<h1>Edit User</h1>
<br>
<form action="{{ url_for('user_post', id_=user.id) }}" method="post">
 <div>
    <label>
      Nickname:
      <input type="text" required name="name" value="{{  user['name']  }}">
    </label>
    {% if errors['name'] %}
      <div>{{ errors['name'] }}</div>
    {% endif %}
  </div>
  <div>
    <label>
      Email:
      <input type="text" name="email" value="{{  user['email']  }}">
    </label>
    {% if errors['email'] %}
      <div>{{ errors['email'] }}</div>
    {% endif %}
  </div>
   <input type="submit" value="Change">
</form>
<form action="{{ url_for('delete_user', id_=user.id) }}" method="post"
onsubmit="return confirm('Are you sure you want to delete school? This action cannot be undone.');">
<input type="submit" value="Remove">
</form>
