<h1>New User</h1>
<br>
<form action="{{ url_for('users_post') }}" method="post">
 <div>
    <label>
      Nickname:
      <input type="text" required name="name" value="{{  user['name']  }}">
    </label>
    {% if errors['name'] %}
      <div>{{ errors['name'] }}</div>
    {% endif %}
  </div>
  <div>
    <label>
      Email:
      <input type="text" name="email" value="{{  user['email']  }}">
    </label>
    {% if errors['email'] %}
      <div>{{ errors['email'] }}</div>
    {% endif %}
  </div>
   <input type="submit" value="submit">
</form>